.navbarHeader {
  background: rgba(110, 36, 36, 0.793);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navbarLogo {
  font-size: 1.5rem;
}
.navbarHeaderLinks {
  display: flex;
}
.navbarHeaderLinks li {
  padding: 3rem;
}
.navbarHeaderLinks li a {
  font-size: 1.5rem;
  font-weight: 500;
}
.toggleButtons {
  display: none;
}

/*  mobile screen */
@media screen and (max-width: 720px) {
  .toggleButtons {
    display: initial;
  }
  .navbarHeaderLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
